<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>All</string>
		<key>code</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Australia</string>
		<key>code</key>
		<string>AU</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Brazil</string>
		<key>code</key>
		<string>BR</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Canada</string>
		<key>code</key>
		<string>CA</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Switzerland</string>
		<key>code</key>
		<string>CH</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Germany</string>
		<key>code</key>
		<string>DE</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Denmark</string>
		<key>code</key>
		<string>DK</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Spain</string>
		<key>code</key>
		<string>ES</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Finland</string>
		<key>code</key>
		<string>FI</string>
	</dict>
	<dict>
		<key>name</key>
		<string>France</string>
		<key>code</key>
		<string>FR</string>
	</dict>
	<dict>
		<key>name</key>
		<string>United Kingdom</string>
		<key>code</key>
		<string>GB</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ireland</string>
		<key>code</key>
		<string>IE</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Iran</string>
		<key>code</key>
		<string>IR</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Netherlands</string>
		<key>code</key>
		<string>NL</string>
	</dict>
	<dict>
		<key>name</key>
		<string>New Zealand</string>
		<key>code</key>
		<string>NZ</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Turkey</string>
		<key>code</key>
		<string>TR</string>
	</dict>
	<dict>
		<key>name</key>
		<string>United States</string>
		<key>code</key>
		<string>US</string>
	</dict>
</array>
</plist>
