<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>רשת גימל</string>
		<key>url</key>
		<string>http://radiocast-rr-d.vidnt.com:8000/ipbc_IPBCgimmelLAM</string>
	</dict>
	<dict>
		<key>name</key>
		<string>גלגלצ</string>
		<key>url</key>
		<string>http://glzwizzlv.bynetcdn.com/glz_mp3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>IsraLA</string>
		<key>url</key>
		<string>http://50.7.70.58:8684/;?1456394446026.mp3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>102FM</string>
		<key>url</key>
		<string>http://102.livecdn.biz/102fm_aac?</string>
	</dict>
	<dict>
		<key>name</key>
		<string>99FM</string>
		<key>url</key>
		<string>http://99.livecdn.biz/99fm</string>
	</dict>
	<dict>
		<key>name</key>
		<string>100FM</string>
		<key>url</key>
		<string>http://gb25.streamgates.net/radios-audio/100fmAudio/icecast.audio</string>
	</dict>
</array>
</plist>
